*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    text-align:left;
    color: #12131a;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
}
div{
    display: block;
    text-shadow: none;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    align-content: center;
}

ul,li{
    display: inline-block;
 }
<!-- 大框架div -->
.whole{
    width: 100%;
    height: 100%;
}

.header-inner{
    padding: 10px;
    height: 56px;
    width: 100%;


}

.container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.header {
    height:56px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: white;
}
.header-container{
    margin-left: auto!important;
}

.header-name{

}
.header-search{
    padding-left: 20px;
    border: white;


}
.d-flex{
    display: flex!important;
    flex-direction: row;
}
.logo{
    width: 100px;

}
.logo-pic{
    height: 56px;
    width: 240px;
}
.logo a {
    font-family: 'Lucida', serif;
    font-size: 30px;
    color: #2f2f2f;
}
.name{
    width: 100px;
    float: left;

}
.name p{
    font-family: 'Lucida', serif;
    font-size: 30px;
    color: #2f2f2f;

}
.function {
        width: 100%;

    }
.function-child2{
    margin-left: auto;
    height: 40px;
}

.box{
    display: -webkit-flex; /* Safari */
    display: flex;
}
.box.box-tiem{
    padding: 20px;
}

.nav-a{
    text-decoration: none;
    text-align: center;
    padding: 0 20px;
    color: #000;
    display: block;
}
ul {
    list-style: none;
    line-height: 40px;
}
/*设置a的文本装饰为none、文本居中对齐、显示为块显示*/
a {
    text-decoration: none;
    text-align: center;
    padding: 0 20px;
    color: #000;
    display: block;
}
/*设置一级菜单左浮动*/
ul li {
    float: left;
}
/*二级菜单默认显示为不显示*/
ul li ul li {
    float: none;
    display: none;
}
/*当鼠标经过一级菜单时二级菜单设置为显示*/
ul li:hover li {
    display: block
}
/*设置a标签背景*/
ul li ul li  a{
    background-color: #ccc;
}
/*设置一级菜单经过时背景颜色（这里设置的是全部a标签，由权值覆盖二级标签经过颜色）*/
a:hover {
    background-color: #F60;
}
/*设置二级菜单经过时的背景颜色*/
ul li ul li a:hover {
    background-color: #0CC;
}
.search-input{
    width: 100%;
    height: 43px;
    background: #f9f5f5;
    border: none;
    outline: none;
    padding-left: 20px;
}
.search_button{
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    width: 19px;
    height: 19px;
    background: transparent;
    border: none;
    outline: none;
}

.email{


}

.email_num_container{
    position: absolute;
    top: 3px;
    left: 25px;
    width: 15px;
    height: 15px;
    background-color:red ;
    border-radius: 50%;

}
.email_num{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 9px;
    font-weight: 600;
    color: black;
}